
.kit-preview {
	margin: 5px;
	width: 120px;
	border-radius: 5px;
	border: 1px solid #b7b7b7;
	background-color: #f2f2f2;
}

/* стиль, что бы выделит окно, в котором открыт popup */
.kit-preview_current {
	box-shadow: 0 0 2px 1px #009a00
}




/* анимация при закрытии окна */
.kit-preview_closed {
	transition: all 300ms;
	transform: scale(0.1);
}

/* для кнопок, через которые возможны действия с окном */
.kit-preview__action {
	margin: 5px;
}

/* имя окна */
.kit-preview__name {
	margin: 1px 4px;
}



/* */
.kit-preview__tab-icon {
	min-height: 10px;
	border-top: 1px solid #b7b7b7;
	margin: 5px 0;
}

