html {
	font-size: 12px;
}

body {
    width: 400px;
	padding: 0;
}

input {
	outline: none;
	padding :0;
}

/* оглавление */
.title {
	font-size :1rem;
}


#status, #status0 {
	font-size :1.5rem;
}

.section-title {
	font-size: larger;
	text-align: center;
	font-weight: bold;
	margin-top: 3vh;
	clear: both;


}


.kit-open {
	width: 15vh;
	height: 15vh;
	float : left;
	border: 3px solid #999;
	margin :3vh;

}