.kit-action-mac {
	display: flex;
}

.kit-action-mac__close,
.kit-action-mac__collapse,
.kit-action-mac__expand {
	background-color: #d7d7d7;
	border-radius: 50%;
	border: 1px solid #cacaca;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	transition: all 200ms;
}


.kit-action-mac_active .kit-action-mac__close.kit-action-mac__close_use {
	background-color: #fc635d;
	border-color: #de4643;
}

.kit-action-mac_active .kit-action-mac__collapse.kit-action-mac__collapse_use {
	background-color: #fdbe41;
	border-color: #dd9e33;
}

.kit-action-mac_active .kit-action-mac__expand.kit-action-mac__expand_use {
	background-color: #36cf4c;
	border-color: #26a934;
}